.index {

}

.timeContainer {
  display: flex;
  justify-content: space-between;
}

.progressBar {
  margin-top: 10px;
  height: 3px;
  border-radius: 2px;
  background-color: #8b8d92;
}

.progress {
  height: 100%;
  border-radius: 2px;
  background-color: #f8bd8a;
}

.playingTimePosition,
.trackDuration {
  font-size: 14px;
  font-weight: 500;
  color: #8b8d92;

}

.playingTimePosition {
  display: inline-block;
}

.trackDuration {
  display: inline-block;
}
