.index {
  display: inline-block;
}

.star {
  float: right;
  display: inline-block;
  width: 8px;
  height: 16px;
  background-image: url('./images/star-dimmed.svg');
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 3px 0;
  cursor: pointer;
}

.star.odd {
  padding-right: 3px;
  background-position: -8px 0;
}

.star:not(.odd) {
  padding-left: 3px;
}

.star.ratedAt,
.star.ratedAt ~ .star,
.star:hover,
.star:hover ~ .star {
  background-image: url('./images/star-full.svg');
}

/* For hover position on the left hand side of current rating */
.star.ratedAt ~ .star:hover,
.star.ratedAt ~ .star:hover ~ .star,
.star.ratedAt:hover,
.star.ratedAt:hover ~ .star {
  background-image: url('./images/star-dark-full.svg');
}

/* For hover position on the right hand side of current rating */
.star:hover ~ .star.ratedAt,
.star:hover ~ .star.ratedAt ~ .star
{
  background-image: url('./images/star-dark-full.svg');
}

.readonlyStar {
  display: inline-block;
  width: 5px;
  height: 10px;
  background-image: url('./images/star-dimmed-readonly.svg');
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: 2px 0;
}

.readonlyStar.odd {
  padding-right: 2px;
  background-position: -5px 0;
}

.readonlyStar:not(.odd) {
  padding-left: 2px;
}

.readonlyStar.full {
  background-image: url('./images/star-full-readonly.svg');
}
